In [104]:
import pandas as pd

In [105]:
fips = '36061'

In [106]:
# Cleaning and retrieving mobility data

mob = pd.read_csv('applemobilitydata/applemobilitycleaned_county.csv')
mob = mob.loc[mob['fips'] == float(fips)]
cols = [0,2,3]
mob = mob.drop(mob.columns[cols], axis=1)
mob

,fips,2020-01-13,2020-01-14,2020-01-15,2020-01-16,2020-01-17,2020-01-18,2020-01-19,2020-01-20,2020-01-21,...,2020-05-18,2020-05-19,2020-05-20,2020-05-21,2020-05-22,2020-05-23,2020-05-24,2020-05-25,2020-05-26,2020-05-27
868,36061.0,100.0,94.86,99.23,103.35,122.96,115.13,107.98,87.73,90.64,...,30.37,31.91,32.87,34.93,39.5,30.65,33.82,32.03,36.65,37.29

In [107]:
# Cleaning and retrieving symptoms data

sym = pd.read_csv('covidsymptoms/covidsymptoms_google.csv')
sym = sym.loc[sym['fips'] == float(fips)]
cols = [0,2,3]
sym = sym.drop(sym.columns[cols], axis=1)
sym

,fips,2020-04-13,2020-04-14,2020-04-15,2020-04-16,2020-04-17,2020-04-18,2020-04-19,2020-04-20,2020-04-21,...,2020-05-04,2020-05-05,2020-05-06,2020-05-07,2020-05-08,2020-05-09,2020-05-10,2020-05-11,2020-05-12,2020-05-13
30,36061,23.942948,22.669515,21.310849,19.385167,17.659743,18.039532,18.78854,20.028444,19.952245,...,12.369208,11.85822,11.981621,11.122302,10.857461,11.373938,11.499215,10.729665,10.321903,10.541343

In [108]:
# Cleaning and retrieving demographics data

dem = pd.read_csv('countydemographics/county_demographics.csv')
dem = dem.loc[dem['fips'] == float(fips)]
cols = [0,2,3,4,5,6,9,10,11]
dem = dem.drop(dem.columns[cols], axis=1)
dem

       fips  median_age  population  Density per square mile of land area
1857  36061        37.3     1632480                               69468.4

In [109]:
# Cleaning and retrieving testing rate data

tes = pd.read_csv('testingrates/testing_rates_county.csv')
tes = tes.loc[tes['fips'] == float(fips)]
cols = [0]
tes = tes.drop(tes.columns[cols], axis=1)
tes

,fips,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,2020-01-28,2020-01-29,2020-01-30,...,2020-05-20,2020-05-21,2020-05-22,2020-05-23,2020-05-24,2020-05-25,2020-05-26,2020-05-27,2020-05-28,2020-05-29
1856,36061,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.019582,0.019074,0.018617,0.018129,0.017697,0.017354,0.017065,0.016764,0.01626,0.015763

In [110]:
# Cleaning and retrieving case data

cas = pd.read_csv('covidstats/confirmed_cases_county_cumulative.csv')
cas = cas.loc[cas['FIPS'] == float(fips)]
cols = [0]
cas = cas.drop(cas.columns[cols], axis=1)
cas

,FIPS,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,5/19/20,5/20/20,5/21/20,5/22/20,5/23/20,5/24/20,5/25/20,5/26/20,5/27/20,5/28/20
1858,36061,0,0,0,0,0,0,0,0,0,...,193821,194550,195675,196484,197266,198123,198731,199301,199968,201051

In [111]:
newDf = pd.concat([mob,sym,tes])
newDf = newDf.reset_index()
newDf = newDf.drop(newDf.columns[[0,1]], axis=1)

cas = cas.reset_index()
cas = cas.drop(cas.columns[[0,1]], axis=1)

In [122]:
newDf = newDf.T
cas = cas.T
newDf = newDf.fillna(0)
cas = cas.fillna(0)

In [129]:
X = newDf[[0,1,2]]
y = cas

In [130]:
from sklearn.linear_model import LinearRegression

In [131]:
regressor = LinearRegression()

In [132]:
model = regressor.fit(X,y)

ValueError: Found input variables with inconsistent numbers of samples: [138, 128]

In [133]:
X

                 0          1         2
2020-01-13  100.00   0.000000  0.000000
2020-01-14   94.86   0.000000  0.000000
2020-01-15   99.23   0.000000  0.000000
2020-01-16  103.35   0.000000  0.000000
2020-01-17  122.96   0.000000  0.000000
...            ...        ...       ...
2020-05-27   37.29   0.000000  0.016764
2020-05-11    0.00  10.729665  0.023282
2020-05-12    0.00  10.321903  0.022990
2020-05-28    0.00   0.000000  0.016260
2020-05-29    0.00   0.000000  0.015763

[138 rows x 3 columns]

In [134]:
y

              0
1/22/20       0
1/23/20       0
1/24/20       0
1/25/20       0
1/26/20       0
...         ...
5/24/20  198123
5/25/20  198731
5/26/20  199301
5/27/20  199968
5/28/20  201051

[128 rows x 1 columns]